
{block content}  

    <div class="jumbotron">
      <div class="container">  
        <div class="main">          
          <h1>2nd hand radar</h1>          
          <a class="add-button" n:href="Shop:create">Pridaj sekáč</a>
        </div>
      </div>
    </div>

<div class="shop_gallery">
  <div n:foreach="$shops as $shop" class="shops">
    <div class="date">{$shop->added_at|date:'F j, Y'}</div>
    <h2><a n:href="Shop:show $shop->id">{$shop->name}</a></h2>
    <div><img src="{$basePath}/images/thumbs/{$shop->image_path}"></div>
     <div>{$shop->about}</div>
   <br>
  </div>
</div>


{* <div n:foreach="$gallery as $id => $image" class="gallery">
  <img src="{$basePath}/images/thumbs/{$image->image_path}">
</div> *}


{/block}