body {
  font-family: Arial;
  text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    margin: 0;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;
}

nav ul li {
    color: #fff;
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin-right: 25px;
    text-transform: uppercase;
    float: right;
    padding-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;   
}

nav li a {
  text-decoration: none;
  color: #fff;    
}

nav li a:hover {
    background-color: #2e2e2e;
}
      
.jumbotron {
  width: 100%;
  background: url('../images/cover.jpg') no-repeat center center;
  background-size: cover;
  height: 700px; 
}

.main {
  position: relative;
  margin: 0;
  text-align: center;        
}

.main h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;  
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
  background-color: rgba(64, 36, 38, 0.5);
  padding: 1em;
  font-size: 100px; 
}

.add-button {
  background-color: lightblue;
  padding: 1em 4em;
  text-decoration: none;
  color: #333;
  position: relative;
  top: -9em;
  text-transform: uppercase;  
}

@media (max-width: 500px) {
  .main h1 {
      font-size: 50px;
      padding: 0 40px;
  } 
}

img {
  size: 1em 1em;
}

#search input[type="search"] {
  background: url(search.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #d1d1d1;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #bebebe;
  width: 150px;
  padding: 6px 15px 6px 35px;
  margin: -7px 0 0 1em;
  float: left;
}

.register-form { 
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-top: 1em;
  display: inline-block;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 600px;
  overflow: hidden;
  margin-top: 4rem;
}


.register-form-submit {
  background-color: lightblue;
  margin: 2em;
  border: 0;
  width: 35%;
  padding: 1em 0;
}

.register-form-submit:hover {
  cursor: pointer;
}

.register-form-submit:active {
  background-color: lightgreen;
}


.register-form-input {  
  line-height: 1.5; 
  font-size: 12px;     
}

.star {
  color: #f00;
}

.title {
  
}

/*css shop-show*/
.shop-show{
  text-align: left;
  margin-left: 40px;
}

.address {
  display: inline-block;
}

/*css shop-create*/
.shop-create {
  text-align: left;
  margin-left: 40px;
}


.signin-form { 
  border: 1px solid lightgray;
  border-radius: 10px;
  padding-top: 1em;
  display: inline-block;
  text-align: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  overflow: hidden;
  margin-top: 4rem; 
}


.signin-form-submit {
  background-color: lightblue;
  margin: 2em;
  border: 0;
  width: 40%;
  padding: 1em 0;
}

.signin-form-submit:hover {
  cursor: pointer;
}

.signin-form-submit:active {
  background-color: lightgreen;
}

table {
  padding-left: 20px;
  padding-right: 40px;
}

.label {
  text-align: right;
}

.signin-form-input {  
  line-height: 1.5; 
  font-size: 12px;     
}

h2 {
  margin-bottom: 1em;
}

.home {
  float: left;
  padding-right: 5px;  
  padding-left: 15px;
  margin: 0px;  
}

.shops {
  display: inline-block;
  margin: 2em;
}

.shop_gallery {  
  text-align: left;
  margin-top: 2em;
  margin-right: 5em;
  margin-left: 5em;
}